<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenCV_CS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ENTcapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <OpenCV_CS.Properties.Settings>
            <setting name="outdir" serializeAs="String">
                <value>@"D:\gazou\"</value>
            </setting>
            <setting name="tmpdir" serializeAs="String">
                <value>@"D:\temp\"</value>
            </setting>
        </OpenCV_CS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ENTcapture.Properties.Settings>
            <setting name="outdir" serializeAs="String">
                <value>C:\gazou</value>
            </setting>
            <setting name="tmpdir" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="codec" serializeAs="String">
                <value>MP4V</value>
            </setting>
            <setting name="name1" serializeAs="String">
                <value />
            </setting>
            <setting name="device1" serializeAs="String">
                <value />
            </setting>
            <setting name="reso1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thept" serializeAs="String">
                <value>C:\common</value>
            </setting>
            <setting name="tests" serializeAs="String">
                <value>内視鏡,鼓膜,眼振,顕微鏡</value>
            </setting>
            <setting name="test1" serializeAs="String">
                <value />
            </setting>
            <setting name="string1" serializeAs="String">
                <value />
            </setting>
            <setting name="roi1" serializeAs="String">
                <value />
            </setting>
            <setting name="font1" serializeAs="String">
                <value />
            </setting>
            <setting name="snapkey" serializeAs="String">
                <value>11083</value>
            </setting>
            <setting name="F1state" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="name2" serializeAs="String">
                <value />
            </setting>
            <setting name="device2" serializeAs="String">
                <value />
            </setting>
            <setting name="reso2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="test2" serializeAs="String">
                <value />
            </setting>
            <setting name="string2" serializeAs="String">
                <value />
            </setting>
            <setting name="roi2" serializeAs="String">
                <value />
            </setting>
            <setting name="font2" serializeAs="String">
                <value />
            </setting>
            <setting name="name3" serializeAs="String">
                <value />
            </setting>
            <setting name="device3" serializeAs="String">
                <value />
            </setting>
            <setting name="reso3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="test3" serializeAs="String">
                <value />
            </setting>
            <setting name="string3" serializeAs="String">
                <value />
            </setting>
            <setting name="roi3" serializeAs="String">
                <value />
            </setting>
            <setting name="font3" serializeAs="String">
                <value />
            </setting>
            <setting name="name4" serializeAs="String">
                <value />
            </setting>
            <setting name="device4" serializeAs="String">
                <value />
            </setting>
            <setting name="reso4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="test4" serializeAs="String">
                <value />
            </setting>
            <setting name="string4" serializeAs="String">
                <value />
            </setting>
            <setting name="roi4" serializeAs="String">
                <value />
            </setting>
            <setting name="font4" serializeAs="String">
                <value />
            </setting>
            <setting name="video1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="video2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="video3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="video4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jpegquality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="autofiling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autodelete" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FPS1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FPS2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FPS3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FPS4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="encodesize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filter" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rsbcamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="norec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="name5" serializeAs="String">
                <value />
            </setting>
            <setting name="device5" serializeAs="String">
                <value />
            </setting>
            <setting name="reso5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="test5" serializeAs="String">
                <value />
            </setting>
            <setting name="string5" serializeAs="String">
                <value />
            </setting>
            <setting name="roi5" serializeAs="String">
                <value />
            </setting>
            <setting name="font5" serializeAs="String">
                <value />
            </setting>
            <setting name="video5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FPS5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rsbaseurl" serializeAs="String">
                <value>http://localhost/~rsn/2000.cgi?rs_base=</value>
            </setting>
            <setting name="recodec" serializeAs="String">
                <value>libx264</value>
            </setting>
            <setting name="pgaddress" serializeAs="String">
                <value />
            </setting>
        </ENTcapture.Properties.Settings>
    </userSettings>
</configuration>